{% extends './header.html'%}
<!DOCTYPE html>
<html>
  <head>
    <title>Respuesta</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
  {% block header %}
  <br><br>
    <center>
    <br>
    <div style="width:65%;">
        <h1>Términos de Uso</h1>
        <br>
        <h6 align="left">TENGA EN CUENTA QUE SU USO Y ACCESO A NUESTROS SERVICIOS (DEFINIDOS A CONTINUACIÓN) ESTÁN SUJETOS A LOS SIGUIENTES TÉRMINOS; SI NO ACEPTA LO SIGUIENTE, NO PUEDE UTILIZAR NI ACCEDER A LOS SERVICIOS DE NINGUNA MANERA.</h6>
        <p align="left">Siga leyendo para conocer las reglas y restricciones que rigen su uso de los sitios web, productos, servicios y aplicaciones de Wish tal como están disponibles para los suscriptores, ubicados fuera de los Estados Unidos (los "Servicios"). Para mayor claridad, si utiliza los sitios web, productos, servicios y aplicaciones de Wish de los Estados Unidos y / o si es un Comerciante (donde sea que se encuentre), recibe dichos servicios de ContextLogic, Inc. </p>
        <p align="left">Si tiene alguna pregunta, comentario o inquietud sobre estos términos o los Servicios, contáctenos en support@wish.com , o en [A-Tower 6th floor, Schiphol Boulevard 347, 1118 BJ Schiphol, Países Bajos. Si tiene preguntas sobre los servicios prestados a los usuarios en los Estados Unidos y / o a los Comerciantes, o sobre los términos de servicio asociados, comuníquese con ContextLogic, Inc, a support@wish.com o One Sansome Street, 40th Fl, San Francisco , CA 94104. </p>
        <p align="left">Estos Términos de uso (los "Términos") son un contrato vinculante entre usted y ContextLogic, BV ("Deseo", "nosotros" y "nosotros"). Debe aceptar y aceptar todos los Términos, o no tiene derecho a utilizar los Servicios. El uso de los Servicios de cualquier manera significa que usted acepta todos estos Términos, y estos Términos permanecerán vigentes mientras utiliza los Servicios. Estos Términos incluyen las disposiciones de este documento, así como las de la Política de privacidad . </p>
    </div>
    </center>
    {% endblock %}
  </body>
</html>