  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
{% block title %}Registrate{% endblock %}

{% block content %}
    <main role="main">
      <div class="container">
        <div class="row mt-3">
          <div class="col-md-9 mx-auto mb-5">
            <br>
            {% if 'registrado' in request.GET %}
              <p>REGISTRADO CORRECTAMENTE</p>
            {% endif %}
            <br>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label>Usuario:</label>
                  <div class="input-group">
                    {{form.username}}
                  </div>
                  {{form.username.errors}}
                  <br>
                  <label>Nombre:</label>
                  <div class="input-group">
                    {{form.first_name}}
                  </div>
                  {{form.first_name.errors}}
                  <br>
                  <label>Apellidos:</label>
                  <div class="input-group">
                    {{form.last_name}}
                  </div>
                  {{form.last_name.errors}}
                  <br>
                  <label>Correo Electrónico:</label>
                  <div class="input-group">
                    {{form.email}}
                  </div>
                  {{form.email.errors}}
                  <br>
                  <label>Contraseña:</label>
                  <div class="input-group">
                    {{form.password1}}
                  </div>
                  {{form.password1.errors}}
                  <br>
                  <label>Repetir contraseña:</label>
                  <div class="input-group">
                    {{form.password2}}
                  </div>
                  {{form.password2.errors}}
                  <br>
                </div>
                <center>
                  <input  class="btn btn-primary" type="submit" name="submit">
                </center>
            </form> 
          </div>
        </div>
      </div>
    </main>   
{% endblock content %}